:root{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
/*Desktop*/
@media (min-width:501px){
    .container{
        margin:auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 17.1vh;
        background-image: url(images/bg-desktop.svg);
        background-color:  hsl(257, 40%, 49%);
        background-repeat: repeat;
        background-size: auto;

    }
    .txt{
        font-family:'Poppins', sans-serif; 
        margin: auto;
        font-size: 16pt;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        color: white;
        font-weight: 400;
    }
    h1{
        padding:0;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color:white;
        grid-column-start: 3;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 1;
    }
    
    
    #img{
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 40px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .img2{
        padding-top:50px;
    }
    .txt>a{
        background-color: white;
        padding: 15px 70px;
        border-radius: 40px;
        
    }
  footer{
      text-align: center;
      padding: 10px;
      background-color: hsl(240, 6%, 6%);
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;

  }
}
/*Mobile*/
@media (max-width:500px){
    body{
        display: flex;
    }
}
