:root{
    /* Paleta de cores*/
    --cor1:hsl(179, 62%, 43%);
    --cor2:hsl(71, 73%, 54%);
    --cor3:hsl(204, 43%, 93%);
    --cor4:hsl(218, 22%, 67%);
}
body{
    background-color:hsl(200, 4%, 86%);
    margin:auto;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    height: 100%;

}
body>#conteudo{
        box-sizing:border-box;
        text-align: justify;
        margin: auto;
        margin-top: 5%;
        padding-bottom: -40%;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        width:100vh;
        height:100vh;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 300vh;
        
        
}

main{
    background-color:var(--cor3);
    grid-column-start: 1;
    grid-column-end: 3;
    padding:40px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.281) ;
    

}
h1{
    color: var(--cor1);
}
h2{
    color:var(--cor2)
}
main>p{
    color: var(--cor4);

}

aside{
    background-color: var(--cor1);
    padding:40px;
    border-radius: 0px 0px 0px 10px;
    box-shadow:-10px 10px 20px -5px rgba(0, 0, 0, 0.281) ;
}

#whyus{
    background-color: hsl(179, 61%, 48%);
    padding:40px;
    border-radius: 0px 0px 10px 0px;
    box-shadow:10px 10px 20px -5px rgba(0, 0, 0, 0.281) ;
    
}
h3{
    color: white;
}
#preco{
    font-size: 25pt;
    color: white;
    padding-right:8px;
}
#per{
    color: hsl(194, 92%, 20%);
}
#full{

    color:white;
}

pre{
    font-family:'karla',sans-serif;
    color:white;
    
}
li{
    list-style:none;
    color: white;
    margin-left: -40px; 
}
#btn{
    font-family: 'Karla', sans-serif;
    color:black;
    background-color: yellow;
    margin:20px 0px 0px 20px;
    padding: 20px 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.192);

}
footer{
    text-align: center;
    background-color:hsl(200, 3%, 77%);
    width: 100%;
    padding:8px;
}
a{
    text-decoration: none;
}

