:root{
    /* Paleta de cores*/
    --cor1:hsl(179, 62%, 43%);
    --cor2:hsl(71, 73%, 51%);
    --cor3:hsl(210, 8%, 95%);
    --cor4:hsl(216, 3%, 64%);
}
html,body{
    background-color:hsl(200, 5%, 89%);
    margin: auto;
}
body>#conteudo{
        text-align: justify;
        margin: auto;
        padding: 10vh;
        width:800px;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 600px;
        
        
        
}

main{
    background-color:var(--cor3);
    grid-column-start: 1;
    grid-column-end: 3;
    padding:40px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.281) ;
    

}
h1{
    color: var(--cor1);
}
h2{
    color:var(--cor2)
}
main>p{
    color: var(--cor4);

}

aside{
    background-color: var(--cor1);
    padding:40px;
    box-shadow:-10px 10px 20px -5px rgba(0, 0, 0, 0.281) ;
}

#whyus{
    background-color: hsl(179, 61%, 48%);
    padding:40px;
    box-shadow:10px 10px 20px -5px rgba(0, 0, 0, 0.281) ;
    
}
h3{
    color: white;
}
#preco{
    font-size: 25pt;
    color: white;
    padding-right:8px;
}
#per{
    color: hsl(194, 92%, 20%);
}
#full{

    color:white;
}

pre{
    font-family:'karla',sans-serif;
    color:white;
    
}
li{
    list-style:none;
    color: white;
    margin-left: -40px; 
}
#btn{
    text-align: center;
    font-family: 'Karla', sans-serif;
    color:black;
    background-color: yellow;
    margin:auto;
    padding: 10px 70px ;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.192);

}
footer{
    text-align: center;
    color: var(--cor1);
    background-color:hsl(200, 3%, 77%);
    padding:0px;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.219);
}
a:hover{
    background: white;
    padding: 5px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black);
}
@media (max-width:890px){
    body{
        text-align: center;
        margin: auto;
    }
    
    #conteudo{
        margin: 0;
        text-align: center;
        grid-template-columns: 1fr 0fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    
    }
    main{
        grid-column-start: 1;
        grid-column-end: 1;
        border-radius: 0px 0px 0px 0px;
    }
    aside{
        grid-column-start: 1;
        grid-column-end: 1;
        padding:80px;
    }
    #whyus{
        grid-column-start: 1;
        grid-column-end: 1;
    }

    footer{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;
        height: 70px;
        width: 455px;
        border-radius: 3px;
    }
}
